<div class="search-input">
  <nz-input-group nzPrefixIcon="search">
    <input
      nz-input
      placeholder="Search by title, price, category"
      (input)="this.onSearchChange($event.target.value)"
    />
  </nz-input-group>
</div>

<div *ngIf="!this.mainService.isProductsLoading" nz-row [nzGutter]="[30, 30]">
  <div
    class="product"
    nz-col
    nzXs="24"
    nzSm="12"
    nzMd="8"
    nzLg="6"
    nzXl="4"
    *ngFor="let product of this.productsCollection"
  >
    <nz-card
      [nzCover]="coverTemplate"
      [nzActions]="[actionDetails, actionAddToCart]"
    >
      <nz-card-meta
        nzTitle="{{ product.title }}"
        [nzDescription]="descriptionTemplate"
      ></nz-card-meta>

      <ng-template #descriptionTemplate>
        <p>Price: {{ product.price }}</p>
        <p>Category {{ product.category }}</p>
      </ng-template>

      <ng-template #coverTemplate>
        <img alt="{{ product.title }}" src="{{ product.thumbnail }}" />
      </ng-template>

      <ng-template #actionDetails>
        <i
          nz-icon
          nzType="more"
          nzTheme="outline"
          routerLink="/product/{{ product.id }}"
        ></i>
      </ng-template>

      <ng-template #actionAddToCart>
        <i
          nz-icon
          nzType="shopping-cart"
          nzTheme="outline"
          (click)="this.mainService.addToCard(product)"
        ></i>
      </ng-template>
    </nz-card>
  </div>
</div>

<div *ngIf="this.mainService.isProductsLoading" class="products__spinner">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
